<!DOCTYPE html>
<html>
  <head>
    <title>Scholarly</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <p hidden id="var-token"></p>
    <p hidden id="var-token-expire"></p>
  </head>
  <body class="w3-mobile" onload="onLoad();">
    <div class="w3-bar w3-white w3-card-4" style="width: 100%; margin: 0; position: fixed; z-index: 9;">
      <img src="/static/logo.png" class="w3-padding" height="48em;" />
      <p>Front & back end developed by <a class="w3-text-blue w3-hover-text-deep-purple" style="transition: 0.5s; text-decoration: none; display: inline;" href="https://colourdelete.gitlab.io">Ken Shibata</a> and others. Page generated on {{ nowtime.isoformat() }}</p>
      <a href="/admin" class="w3-bar-item w3-btn w3-round-large w3-right" style="transition: 0.5s; margin: 0.5em;"><span style="font-size: 0.9em;" class="material-icons">admin_panel_settings</span></a>
      <a href="/courses" class="w3-bar-item w3-btn w3-round-large w3-right" style="transition: 0.5s; margin: 0.5em;"><span style="font-size: 0.9em;" class="material-icons">school</span></a>
      <a href="/profile" class="w3-bar-item w3-btn w3-round-large w3-right" style="transition: 0.5s; margin: 0.5em;"><span style="font-size: 0.9em;" class="material-icons">account_circle</span>user first name</a>
      <a class="w3-bar-item w3-btn w3-round-large w3-right" style="transition: 0.5s; margin: 0.5em;" href="/signout">
        <!--logout-variant Austin Andrews @Templarian materialdesignicons.com-->
        <svg style="width:0.9em;height:0.9em" viewBox="0 0 24 24">
          <path fill="currentColor" d="M14.08,15.59L16.67,13H7V11H16.67L14.08,8.41L15.5,7L20.5,12L15.5,17L14.08,15.59M19,3A2,2 0 0,1 21,5V9.67L19,7.67V5H5V19H19V16.33L21,14.33V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H19Z" />
        </svg>
      </a>
      <a class="w3-bar-item w3-btn w3-round-large w3-right" style="transition: 0.5s; margin: 0.5em;" href="/signin">
        <!--login-variant Austin Andrews @Templarian materialdesignicons.com-->
        <svg style="width:0.9em;height:0.9em" viewBox="0 0 24 24">
          <path fill="currentColor" d="M19,3H5C3.89,3 3,3.89 3,5V9H5V5H19V19H5V15H3V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10.08,15.58L11.5,17L16.5,12L11.5,7L10.08,8.41L12.67,11H3V13H12.67L10.08,15.58Z" />
        </svg>
      </a>
    </div>
      <div id="pages" class="w3-display-middle">
        <div id="page-signin">
          <h1>Signin</h1>
          <form>
          <input
            id="page-signin-username"
            placeholder="Username"
            class="w3-container w3-border w3-hover-shadow w3-round-large w3-padding"
            style="margin: 0.5em; border: 0;"> <br />
          <input
            type="password"
            id="page-signin-password"
            placeholder="Password"
            class="w3-container w3-border w3-hover-shadow w3-round-large w3-padding"
            style="margin: 0.5em; border: 0;"> <br />
          <button
            type="button"
            onclick="pageSigninAttempt();"
            class="w3-container w3-border w3-hover-shadow w3-round-large w3-padding"
            style="margin: 0.5em; border: 0;">Signin</button>
          </form>
          <p id="page-signin-status"></p>
        </div>
        <div id="page-signup">
          <h1>Signup WIP</h1>
          <input id="page-signup-username" placeholder="Username" class="w3-container w3-border w3-hover-shadow w3-round-large w3-padding" style="margin: 0.5em; border: 0;">
          <input type="password" id="page-signup-password" placeholder="Password" class="w3-container w3-border w3-hover-shadow w3-round-large w3-padding" style="margin: 0.5em; border: 0;">
          <button type="button" onclick="pageSigninAttempt()" class="w3-container w3-border w3-hover-shadow w3-round-large w3-padding" style="margin: 0.5em; border: 0;">Submit</button>
          <p id="page-signup-status"></p>
          <div class="w3-container w3-card-4 w3-round-large w3-padding-16" style="margin: 0.5em;">
            stuff (just keeping this so I can easily copy it when I need it)
          </div>
        </div>
        <div id="page-dashboard">
          <h1>Dashboard WIP</h1>
          <div class="w3-container w3-card-4 w3-round-large w3-padding-16" style="margin: 0.5em;">
            stuff (just keeping this so I can easily copy it when I need it)
          </div>
        </div>
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="w3-display-bottomright w3-margin-right" style="max-width: 25%;">
      {% for category, message in messages %}
        {% if category == 'error' %}
          {% set message_border = 'w3-border-red' %}
        {% elif category == 'info' %}
          {% set message_border = 'w3-border-blue' %}
        {% elif category == 'warning' %}
          {% set message_border = 'w3-border-orange' %}
        {% elif category == 'ok' %}
          {% set message_border = 'w3-border-green' %}
        {% elif category == 'debug' %}
          {% set message_border = 'w3-border-brown' %}
        {% else %}
          {% set message_border = 'w3-border-white' %}
        {% endif %}
        {% if category == 'error' %}
          {% set message_icon = 'error' %}
        {% elif category == 'info' %}
          {% set message_icon = 'info' %}
        {% elif category == 'warning' %}
          {% set message_icon = 'warning' %}
        {% elif category == 'ok' %}
          {% set message_icon = 'check_circle' %}
        {% elif category == 'debug' %}
          {% set message_icon = 'bug_report' %}
        {% else %}
          {% set message_icon = 'message' %}
        {% endif %}
        <div class="w3-panel w3-card-4 w3-margin-top w3-round-large w3-light-grey w3-leftbar w3-animate-right {{ message_border }}" style="transition: 0.5s;" onclick="this.style.display='none'">
          {# <p>{{ category.title() }}: {{ message }}</p> #}
          <p><span class="material-icons">{{ message_icon }}</span> {{ message }}<br><i style="font-size: 0.5em;">Click notification to dismiss</i></p>
        </div>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  </body>
</html>
